.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-size:large;
  font-weight: 200;
  padding-left: 30px;
}

.hspan{
  background: linear-gradient(to right, #007F73 , #4CCD99);
  border-radius: 5px;
  color: aliceblue
  
}

.signbtn{
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #007F73 , #4CCD99);
  color: aliceblue;
  font-size: 100;
  padding: 6px;
}

:hover.signbtn{
  cursor: pointer;
}

h2{
  font-weight: 100;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.login-header {
  display: flex;
  justify-content: center;
}

.login-box {
  width: 200px; 
  height: 100px;
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  text-align: center;
}

.userinput{
  border: 0.5px solid;
}

.passinput{
  border: 0.5px solid;
}

.user{
  padding-top: 20px;
}

.pass{
  padding-top: 10px;
}

.loginbtn{
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #007F73 , #4CCD99);
  color: aliceblue;
  font-size: 100;
}




