.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid;
}

h1{
  font-size:large;
  font-weight: 200;
  padding-left: 30px;
}

.hspan{
  background: linear-gradient(to right, #007F73 , #4CCD99);
  border-radius: 5px;
  color: aliceblue
  
}

.signbtn{
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #007F73 , #4CCD99);
  color: aliceblue;
  font-size: 100;
  padding: 6px;
}

:hover.signbtn{
  cursor: pointer;
}

h2{
  font-weight: 100;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.login-header {
  display: flex;
  justify-content: center;
}

.login-box {
  width: 200px; 
  height: 100px;
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  text-align: center;
}

.userinput{
  border: 0.5px solid;
  border-radius: 5px;
}

.passinput{
  border: 0.5px solid;
  border-radius: 5px;
}

.user{
  padding-top: 20px;
}

.pass{
  padding-top: 10px;
}

.loginbtn{
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #007F73 , #4CCD99);
  color: aliceblue;
  font-size: 100;
}

:hover.loginbtn{
  cursor: pointer;
}

.error {
  background-color: #f6bdbd; 
  color: white; 
  padding: 10px; 
  border-radius: 5px;
  text-align: center; 
  font-size: small;
  margin: 10px auto; 
  width: 30%; 
}

.logoutbtn{
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #007F73 , #4CCD99);
  color: aliceblue;
  font-size: xx-small;
  padding: 6px;
}

:hover.logoutbtn{
  cursor: pointer;
}

.books {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  padding: 15px; 
}

.homebtn{
  border: none;
  background: none;
  font-size: x-small;
}

:hover.homebtn{
  cursor: pointer;
}

.recbtn{
  border: none;
  background: none;
  font-size: x-small;
}

:hover.recbtn{
  cursor: pointer;
}

.addbtn{
  border: none;
  background: none;
  font-size: x-small;
}

:hover.addbtn{
  cursor: pointer;
}

.book {
  flex-basis: calc(25% - 10px); 
  padding-right: 10px;
  font-size: x-small;
}

.name {
  border-radius: 10px;
  background: linear-gradient(to right, #FFC700, #FFF455);
  padding-bottom: 5px;
 
  
}

.author {
  padding-top: 5px;
  font-size: xx-small;
}

.description {
  padding-top: 5px;
}

.opinion {
  padding-top: 5px;
}

.datetime {
  padding-top: 10px;
  font-size: 5px;
}